{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row">
    <h1>Login</h1>
    <form id="login_form" method="post" action="/login/">
        {% if message %}
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Warning!</strong> {{ message }}
            </div>
        {% endif %}
        <div class="form-group">
            {% csrf_token %}
        </div>
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
        <input type="submit" value="Login" class="btn btn-default">
    </form>
</div>
{% endblock %}