<!DOCTYPE html>
<html>
    <head>
        <title>pyTask</title>
    </head>
    <body>
        <h1>Register with pyTask</h1>

        {% if registered %}
	        pyTask says: <strong>thank you for registering!</strong>
        {% else %}
	        pyTask says: <strong>register here!</strong><br />

	        <form id="user_form" method="post" action="/register/"
	                enctype="multipart/form-data">
	            {% csrf_token %}
	            {{ user_form.as_p }}
	            {{ profile_form.as_p }}
	            <input type="submit" name="submit" value="Register" />
	        </form>
        {% endif %}
    </body>
</html>